@import url(semantic-ui/globals/reset.min.css);
@import url(semantic-ui/globals/site.min.css);
@import url(semantic-ui/elements/button.min.css);
@import url(semantic-ui/elements/container.min.css);
@import url(semantic-ui/elements/divider.min.css);
@import url(semantic-ui/elements/flag.min.css);
@import url(semantic-ui/elements/header.min.css);
@import url(semantic-ui/elements/icon.css);
@import url(semantic-ui/elements/image.min.css);
@import url(semantic-ui/elements/input.min.css);
@import url(semantic-ui/elements/label.min.css);
@import url(semantic-ui/elements/list.min.css);
@import url(semantic-ui/elements/loader.min.css);
@import url(semantic-ui/elements/rail.min.css);
@import url(semantic-ui/elements/reveal.min.css);
@import url(semantic-ui/elements/segment.min.css);
@import url(semantic-ui/elements/step.min.css);
@import url(semantic-ui/collections/breadcrumb.min.css);
@import url(semantic-ui/collections/form.min.css);
@import url(semantic-ui/collections/grid.min.css);
@import url(semantic-ui/collections/menu.min.css);
@import url(semantic-ui/collections/message.min.css);
@import url(semantic-ui/collections/table.min.css);
@import url(semantic-ui/views/ad.min.css);
@import url(semantic-ui/views/card.min.css);
@import url(semantic-ui/views/comment.min.css);
@import url(semantic-ui/views/feed.min.css);
@import url(semantic-ui/views/item.min.css);
@import url(semantic-ui/views/statistic.min.css);
@import url(semantic-ui/modules/accordion.min.css);
@import url(semantic-ui/modules/checkbox.min.css);
@import url(semantic-ui/modules/dimmer.min.css);
@import url(semantic-ui/modules/dropdown.min.css);
@import url(semantic-ui/modules/embed.min.css);
@import url(semantic-ui/modules/modal.min.css);
@import url(semantic-ui/modules/nag.min.css);
@import url(semantic-ui/modules/popup.min.css);
@import url(semantic-ui/modules/progress.min.css);
@import url(semantic-ui/modules/rating.min.css);
@import url(semantic-ui/modules/search.min.css);
@import url(semantic-ui/modules/shape.min.css);
@import url(semantic-ui/modules/sidebar.min.css);
@import url(semantic-ui/modules/sticky.min.css);
@import url(semantic-ui/modules/tab.min.css);
@import url(semantic-ui/modules/transition.min.css);
@import url(semantic-ui/modules/video.min.css);
@import url(html5up/main.css);
body {
  padding-top: 3em;
  overflow-x: hidden; }

.ui.container > h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal; }

.ui.container > h2.dividing.header {
  font-size: 2em;
  font-weight: normal;
  margin: 4em 0em 3em; }

.color.grid {
  margin: -1.5em;
  width: 400px; }

.ui.table {
  table-layout: fixed; }

.color.grid .column {
  margin: 0.5em;
  width: 50px;
  height: 50px; }

.ui.menu {
  margin: 3em 0em; }

.ui.menu:last-child {
  margin-bottom: 110px; }

.ui.table {
  table-layout: fixed; }

.spaced > .button {
  margin-bottom: 1em; }
