.row
  .sixteen.wide.column
    %img.ui.fluid.image{ src: 'http://previews.123rf.com/images/robuart/robuart1510/robuart151000020/45906279-Isometric-icon-of-the-city-is-flat-Building-house-architecture-street-urban-town-map-and-constructio-Stock-Vector.jpg' }
    %p
      Shared vision for functional street, only ripping it up once.
