.row
  .eight.wide.column
    %p
      There. You see Lord Vader, she can be reasonable. Continue with the operation. You may fire when ready. What? You're far too trusting. Dantooine is too remote to make an effective demonstration.
    %h1 4x
    %p
      How long before you can make the jump to light speed? Traveling through hyperspace isn't like dusting crops, boy! Without precise calculations we could fly right through a star or bounce too close to a supernova and that'd end your trip real quick, wouldn't it?
  .eight.wide.column
    %img.ui.fluid.image{src: 'http://d.tile.stamen.com/toner/14/4956/6059.png'}
