%section#one.main.style2.right.dark.fullscreen
  .content.box.style2
    %header
      %h2 The Cost of Not Coordinating
    %p
      %img.ui.fluid.image{ src: 'http://thenextweb.com/wp-content/blogs.dir/1/files/2015/06/9.-n3-charts.png' }
    %p
      .ui.two.column.grid
        .eight.wide.column
          %p
            %strong Yeah, I think you're right. Full reverse!
          %p
            Chewie, lock in the auxiliary power. Why are we still moving towards it? We're caught in a tractor beam! It's pulling us in! But there's gotta be something you can do! There's nothin' I can do about it, kid. I'm in full power. I'm going to have to shut down.
        .eight.wide.column
          %p
            %strong Aren't you a little short to be a stormtrooper?
          %p
            What? Oh...the uniform. I'm Luke Skywalker. I'm here to rescue you. You're who? I'm here to rescue you. I've got your R2 unit. I'm here with Ben Kenobi. Ben Kenobi is here! Where is he? Come on!
  %a.button.style2.down.anchored{:href => "#two"} Next
