.row
  .ten.wide.column
    %img.ui.large.image{src: 'http://semantic-ui.com/images/wireframe/image.png'}
  .six.wide.column
    %h1 $XX,XXX,XXX
    %p Total cost of leaked gas passed on to consumers from 2015 - 2040
