%section#guide.main.style2.left.dark.fullscreen
  .content.box.style2
    %header
      %h2 How to coordinate
    %p
      We made a how-to guide to help.
    %a.ui.large.blue.button
      Read the guide >

    %hr

    %header
      %h2 Case studies
    %p
      Learn how cities are doing it right.
    %a.ui.large.blue.button
      See case studies ->
