%section#contact.main.style3.secondary.from-bottom
  .content.container
    %header
      %h2 Say Hello.
      %p Lorem ipsum dolor sit amet et sapien sed elementum egestas dolore condimentum.
    .box.container{:class => "75%"}
      / Contact Form
      %form{:action => "#", :method => "post"}
        .row{:class => "50%"}
          .6u{:class => "12u(mobile)"}
            %input{:name => "name", :placeholder => "Name", :type => "text"}/
          .6u{:class => "12u(mobile)"}
            %input{:name => "email", :placeholder => "Email", :type => "email"}/
        .row{:class => "50%"}
          .12u
            %textarea{:name => "message", :placeholder => "Message", :rows => "6"}
        .row
          .12u
            %ul.actions
              %li
                %input{:type => "submit", :value => "Send Message"}/
