.row
  .eight.wide.column
    %h1 A Catchy Title About Gas Leaks
    %p
      All wings report in. Red Ten standing by. Red Seven standing by. Red Three standing by. Red Six standing by. Red Nine standing by. Red Two standing by. Red Eleven standing by. Red Five standing by. Lock S-foils in attack position.
    %p
      %a.ui.button.success
        Read the How-To Guide
      %a.ui.button.primary
        Read the Report
    %p
      by the Metropolitan Area Planning Council
  .eight.wide.column
    %img.ui.fluid.image{src: 'http://semantic-ui.com/images/wireframe/image.png'}
