%section#intro.main.style1.dark.fullscreen
  .content.container{:class => "75%"}
    %header
      %h2 A Catchy Title about Gas Leaks
      %p A more informative second line.
        = succeed "," do
          %a{:href => "http://html5up.net"} HTML5 UP
        = succeed "," do
          %strong
            %a{:href => "http://getskel.com"} Skel
        = succeed "." do
          %a{:href => "http://html5up.net/license"} Creative Commons Attribution 3.0 license
      %footer
        %a.button.style2.down{:href => "#one"} More
