/ Header
%header#header
  / Logo
  %h1#logo Gas
  / Nav
  %nav#nav
    %ul
      %li
        %a{href: '#intro'}
          Intro
      %li
        %a{href: '#one'}
          What I Do
      %li
        %a{href: '#two'}
          Who I Am
      %li
        %a{href: '#work'}
          My Work
      %li
        %a{href: '#contact'}
          Contact
